body{
	color: black;
	background-color: white;
	margin: 0;
	padding: 0;
	border: none;
	height: 100%;
	font-family: inter;
}
.container{
	display: flex;
	flex-direction: column;
	height: 100vh;
}
.header{
	background-color: #F5F5F5;
	border: none;
	flex-shrink: 0;
	height: 5vh;
	padding: 0;
	text-decoration: none;
}
.logo{
	height: 4vh;
	padding: 0.5vh;
	margin-left: 3vw;
}
.hlink{
	float: right;
	padding: 1vh;
	margin-right: 3vw;
	display: inline-flex;
}
.htext{
	padding-left: 1.5vw;
	float: right;
	text-decoration: none;
	color: black;
}
.header2{
	background-color: white;
	border: none;
	flex-shrink: 0;
	height: 9vh;
	padding: 0;
	text-decoration: none;
}
.swoosh{
	width: 9vh;
	margin-left: 3vw;
	padding-top: 3vh;
	padding-bottom: 3vh;
	float: left;
}
.option{
	text-align: center;
	font-size: 2.5vh;
	padding-top: 3.25vh;
	padding-bottom: 3.25vh;
	position: relative;
	left: -4vw;
}
.menu{
	padding-right: 1.5vw;
}
.htext-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.htext-item {
  margin-right: 10px;
  padding-left: 10px;
}

.htext-item a {
  text-decoration: none;
  color: black;
}
.discount{
	background-color: #F5F5F5;
	border: none;
	flex-shrink: 0;
	height: 9vh;
	padding: 2vh;
	text-align: center;
	line-height: 0.1vh;
	padding-bottom: 0.5vh;
}
.download{
	text-decoration: none;
	font-size: 2vh;
	color: black;
	line-height: 0.1vh;
	text-decoration: underline;
}
.photo{
	text-align: center;
}
.bigpic{
	width: 30vw;
	background-color: white;
}
.phototext{
	text-align: center;
}
.an{
	line-height: 0.1vh;
}
.bc{
	font-size: 15vh;
	font-family: oswald;
	line-height: 1vh;
}
.lc{
	font-size: 2.1vh;
	line-height: 1vh;
}
.san{
	border-radius: 20px;
	padding: 12px;
	background-color: black;
	color: white;
	border: none;
	font-family: inter;

}
.center{
	text-align: center;
}
.featured{
	display: flex;
	text-align: left;
	margin: 4vw;
}
.feat{
	margin: 5vw;
	text-align: left;
	margin-left: 4vw;
	font-size: 3vh;
}
.feature{
	width: 30vw;
	background-color: #F5F5F5;
}
.slip{
	padding: 4px;
}
.slid{
	padding: 4px;
}
.sock{
	padding: 4px;
}
.headerbottom{
	float: right;
	padding: 1vh;
	margin-right: 3vw;
	display: inline-flex;
	font-size: 0.9vw;
	color: grey;
	margin-left: 4vw;
}
.option2{
	padding-right: 1vw;
}
.option3{
	padding-right: 1vw;
	text-decoration: none;
	color: grey;
}
.option3: hover{
	color: black;
}
.formp{
	height: 7vh;
}
#thirty{
	height: 3vh;
	padding: 2vh;
}
