head{
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
}
body{
	font-family: Lexend;
	color: black;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-image: url(img2.jpg);
	spac
}
div{
	margin-left: 5%;
	margin-right: 6%;
	margin-top: 0%;
	margin-bottom: 8%;
	text-align: left;
	color: black;
	background: rgba(255, 255, 255, 0.5);
	background-position: center;
	right: 0;
	left: 0;
	margin-right: auto;
	margin-left: auto;
	padding-top: 1.5%;
	height: auto;
	width: 94%;
	padding-left: 2%;
	padding padding-right: 2%;
}
h1{
	text-align: center;
	background-color: #233040;
	background-position: center;
	position: fixed;
	right: 0;
	left:0 ;
	margin-right: auto;
	margin-left: auto;
	padding-top: 1.5%;
	min-height: 1.8em;
	width: 94%;
	z-index: 20;
	margin-top: 0.01em;
	color: white;
}
.class{
	font-family: Lexend;
}
.ind{
	text-indent: 30px;
}
#img1{
	float: right;
	border-radius: 4px;
	padding: 5px;
	padding-right: 10px;
}
#img2{
	float: right;
	border-radius: 4px;
	padding: 5px;
	padding-right: 10px;
}
.link{
	color: black;
}
